/* main colors */
$swBrown: #1d1517;
$swLightBrown: #2b2224;
$swLightYellow:#ffde90;
$swYellow:#f6b21e;
$grey300:#E0E0E0;

/* fonts and colors */
$mainFonts:"futura-pt",sans-serif;
$titleFonts: "freight-text-pro",serif;
$grey800 : #424242;
$grey600:#757575;

/*transition*/

