@import 'variables';
@import "normalize";
::-moz-selection {
  background: $swLightYellow;
  text-shadow: none;
  color: $swBrown;
}

::selection {
  background: $swLightYellow;
  text-shadow: none;
  color: $swBrown;
}

html {
  font-family: $mainFonts;
  color: $grey600;
  font-size: 1em;
  line-height: 1.4;
  body {
    a {
      color: $swYellow;
      text-decoration: none;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      &:hover {
        background: $swLightYellow;
        color: $grey600;
      }
    }
    header {
      background: $swBrown;
      color: white;
      padding-top: 20px;
      nav {
        background: $swLightBrown;
        padding: 20px;
        .wrapper {
          width: 93.75%;
          margin: auto;
          display: flex;
          justify-content: space-between;
          .logo {
            text-indent: -99999px;
            display: block;
            width: 55px;
            height: 55px;
            background: url(../assets/img/sw-logo.png);
            background-size: cover;
          }
        }
      }
    }
    h1,
    h2,
    h3 {
      font-family: $titleFonts;
    }
    .singlePage {
      position: relative;
      figure {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
        max-height: 1080px;
        img {
          margin: 0;
          width: 100%;
          display: block;
        }
      }
      .post {
        background: white;
        position: relative;
        top: -15vh;
        width: 70%;
        max-width: 1280px;
        margin: auto;
        padding: 20px 150px;
        box-sizing: border-box;
        .postMeta {
          text-align: left;
          margin: 0;
          padding: 20px 5px 10px 5px;
          display: flex;
          justify-content: space-between;
          &.secondMeta {
            border-top: 1px solid $grey300;
          }
          .postInfos {
            display: flex;
            .picContainer {
              margin-right: 10px;
              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }
            }
            p {
              a {
                &.postAuthor {
                  font-style: italic;
                  color: $grey800;
                }
                &.postDate {
                  color: $grey600;
                  font-size: 12px;
                  display: block;
                }
                &:hover {
                  color: $swYellow;
                  background: transparent;
                }
              }
            }
          }
          .socialSharing {
            list-style: none;
            li {
              display: inline;
              a {
                border: 1px solid $grey300;
                width: 40px;
                line-height: 40px;
                margin-left: 10px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                color: $grey600;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                &:hover {
                  color: $swYellow;
                  border-color: $swYellow;
                  background: transparent;
                }
              }
            }
          }
        }
        .postHeader {
          text-align: center;
          background: white;
          padding: 10px 0;
          .postCategory {
            margin: 0;
            padding: 10px 15px 0 5px;
            text-transform: uppercase;
            letter-spacing: 3px;
          }
          h1 {
            margin: 0 0 15px 0;
            color: $grey800;
            font-weight: normal;
            font-size: 60px;
            &:after {
              content: "";
              display: block;
              background: $swLightBrown;
              width: 50px;
              height: 3px;
              margin: 20px auto;
            }
          }
        }
        .postBody {
          p {
            margin-bottom: 40px;
            line-height: 1.9rem;
            font-size: 20px;
            font-weight: 300;
            padding: 10px 0;
            &:first-child {
              &:first-letter {
                font-size: 8rem;
                float: left;
                margin-top: 2rem;
                margin-right: 1rem;
                margin-bottom: 1.6rem;
                font-family: $titleFonts;
                font-style: italic;
                color: $grey800;
              }
            }
          }
        }
        @media screen and (max-width:1200px) {
          padding: 20px 8vw;
          top: -8vh;
          width: 80%;
        }
        @media screen and (max-width:810px) {
          width: 90%;
          .postMeta {
            display: block;
            .socialSharing {
              padding-left: 0;
              text-align: center;
            }
          }
        }
        @media screen and (max-width:460px) {
          width: 96%;
          padding: 20px;
          top: -3vh;
          .postHeader {
            h1 {
              font-size: 35px;
            }
          }
        }
      }
    }
    footer {
      height: 150px;
      background: $swLightBrown;
      padding: 20px;
    }
  }
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
