<header>   
      <nav>
          <div class="wrapper">
              <a href="/" class="logo" title="Smith And Williams Blog">Smith And Williams</a>
               <i class="fa fa-bars"></i>   
          <ul style="display:none;">
              <li>Home</li>
              <li>Contact</li>
              <li>Ctagory 1</li>
              <li>Ctagory 2</li>
          </ul>
          </div>
         
      </nav>
    </header>

<div class="content">
  {{outlet}}
</div>

<footer>
  &copy;2017 Smith And Williams.
</footer>