{{outlet}}
<div class="singlePage">
    <figure>
       <img src="assets/img/lighthouse.jpg" alt="">
    </figure>
    <div class="post">
        <div class="postHeader">
            <p class="postCategory">Design</p>
             <h1>Main Article Title WQ</h1>
            <p class="postMeta">
                <p class="postInfos"><p class="picContainer"><img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAg5AAAAJDJiZGM5ZDBiLTFjOTEtNDE1Mi05OTA4LWU1YzVmY2I1ZDQ3YQ.jpg" alt="Stéphane Meermans"  ></p><p> <a href="#2" class="postAuthor">Stéphane Meermans</a><a href="#2" class="postDate">November 11 2017</a></p></p>
                <ul class="socialSharing">
                    <li ><a href="#1" class="facebook" title="Share this article on Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li ><a href="#1" class="linkedin" title="Share this article on Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li ><a href="#1" class="twitter" title="Share this article on Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li ><a href="#1" class="google" title="Share this article on Google+"><i class="fa fa-google-plus"></i></a></li>
                    <li ><a href="#1" class="email" title="Send this article by Email"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </p>
        </div>
        <div class="postBody">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rutrum felis id nulla aliquet, nec molestie lacus sagittis. Curabitur nisi massa, ultricies quis pretium non, pulvinar nec turpis. Donec id ultricies ligula. Donec a mi urna. Phasellus tempus accumsan metus, <a href="#1" title="Morbi posuere malesuada tortor">sed aliquet urna</a> feugiat eu. Suspendisse vel aliquet turpis, scelerisque tempus quam. Sed sollicitudin nisl nec malesuada scelerisque. Proin feugiat pharetra porta. Suspendisse tincidunt, nunc in semper malesuada, turpis diam porta turpis, vitae dictum lectus sapien eu felis.
            </p>
            <p>
            Phasellus metus ante, ullamcorper ut justo ac, molestie tempus urna. Proin laoreet, mauris quis auctor efficitur, ex leo venenatis tortor, a facilisis velit est quis lacus. Proin ut enim non ligula dapibus maximus. Quisque eleifend ante lectus, eu tempus quam accumsan ut. Proin tempor lectus augue, et ullamcorper ipsum luctus nec. Morbi gravida venenatis pellentesque. Morbi posuere malesuada tortor, ac varius lorem congue et. In semper, leo nec laoreet iaculis, tortor libero commodo libero, pretium posuere nunc odio in elit. Cras orci metus, tempor ac odio vel, ultrices rutrum odio. Aenean ultricies volutpat fermentum. Vestibulum a nulla mi.
            </p>
            <p><figure >
            <img src="http://anewplacevt.org/wp-content/uploads/Lighthouse-in-Field.jpg" alt="">
            </figure>
            </p>

            <p>
            Sed ipsum ligula, ultricies nec purus et, finibus egestas lectus. Morbi a enim vel tortor efficitur viverra. Proin bibendum odio a velit congue, non volutpat tortor gravida. Proin facilisis blandit lacus, sed rutrum neque consectetur non. Donec non facilisis risus, sed fermentum orci. Nunc mollis tellus quis elit convallis, sit amet consequat libero auctor. Etiam dignissim dolor vel libero semper, nec cursus lectus blandit.
            </p>
            <p>
            Proin in tortor mauris. Ut aliquam eros id lorem commodo convallis. Sed semper ullamcorper purus ac mattis. Nullam ornare nulla a nunc fringilla, scelerisque imperdiet nisi pretium. Duis accumsan leo eget tincidunt cursus. Nulla porttitor in nulla iaculis rhoncus. Praesent efficitur, arcu vitae euismod porta, orci felis accumsan ante, tristique varius quam arcu eu urna. Nulla libero nibh, hendrerit eu metus ut, facilisis efficitur nulla. Etiam consectetur leo dignissim mauris efficitur semper. Suspendisse sit amet libero nec velit pretium dapibus at vitae lacus.
            </p>

            <p>
            <figure >
            <img src="https://tce-live2.s3.amazonaws.com/media/media/8886f4db-35df-4037-86f3-c53bbcbfb0aa.jpg" alt="">
            </figure>
            </p>
            <p>
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc tristique lectus quis sagittis consectetur. Curabitur commodo risus eget nunc pellentesque laoreet. Phasellus justo metus, convallis quis pulvinar volutpat, fringilla vitae nibh. Aliquam id fringilla magna. Fusce nisl sem, consectetur eget porttitor eget, maximus sed nulla. Pellentesque vel feugiat tellus, et semper mi. Sed turpis lorem, ullamcorper vel pulvinar sed, feugiat quis lacus. Nam id elit imperdiet metus dapibus imperdiet eget sed nibh. Quisque porta lectus non venenatis venenatis. Duis orci eros, egestas sit amet orci in, fringilla aliquet justo. Praesent orci mauris, venenatis ac sapien nec, commodo pellentesque est. Fusce eget quam vel massa gravida vestibulum. Sed felis massa, sodales ac orci nec, venenatis ultrices lorem.
            </p>

        </div>
        <p class="postMeta secondMeta">
                <p class="postInfos"><p class="picContainer"><img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAg5AAAAJDJiZGM5ZDBiLTFjOTEtNDE1Mi05OTA4LWU1YzVmY2I1ZDQ3YQ.jpg" alt="Stéphane Meermans"  ></p><p> <a href="#2" class="postAuthor">Stéphane Meermans</a><a href="#2" class="postDate">November 11 2017</a></p></p>
                <ul class="socialSharing">
                    <li ><a href="#1" class="facebook" title="Share this article on Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li ><a href="#1" class="linkedin" title="Share this article on Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li ><a href="#1" class="twitter" title="Share this article on Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li ><a href="#1" class="google" title="Share this article on Google+"><i class="fa fa-google-plus"></i></a></li>
                    <li ><a href="#1" class="email" title="Send this article by Email"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
            </p>
          
    </div>
 
</div>